/* Фоновый элемент - синий квадрат */
.header__square-pic {
  /* Уменьшил размеры квадрата из-за ошибки в брифе. */
  /* А именно, сумма стороны квадрата и отступа от верхнего края больше минимальной высоты шапки: */
  /* 568px + 64px = 632px против 600px min-hight. */
  /* Из-за этого, например, на мобильных устройствах (iPhone X) при альбомной ориаентации */
  /* квадрат выходит за пределы шапки. */
  width: 536px;
  height: 536px;
  /* Позиционирование */
  position: absolute;
  top: 64px;
  right: 0;
  /* Фон */
  background-color: #2f80ed;
  z-index: 1;
}

