/* Основной элемент подвала */
.footer__columns {
  width: 90%;
  /* Позиционирование */
  position: relative;
  margin: 60px auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

