/* Блок шапки */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* Позиционирование */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  /* Фон */
  background-color: #f2f2f2;
  overflow: hidden;
}


