/* Блок текста в две колонки */
.two-columns {
  width: 80%;
  /* Минимальная ширина складывается из ширины первого и минимальной ширины второго стобцов */
  min-width: 959px;
  /* Позиционирование */
  display: flex;
  justify-content: space-between;
}


