/* Блок текста в две колонки */
.two-columns {
  width: 80%;
  /* Минимальная ширина складывается из ширины первого и минимальной ширины второго стобцов */
  min-width: 959px;
  /* Позиционирование */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
