/* Заголовок шапки */
.header__title {
  width: 730px;
  height: fit-content;
  /* Позиционирование */
  display: flex;
  margin: 0 0 0 64px;
  /* Параметры текста */
  line-height: 94px;
  font-size: 102px;
  font-weight: 600;
  z-index: 3;
}
