/* Стили для всей страницы */
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Блок шапки */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  /* Позиционирование флекс-элементов */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  /* Фон на заднем плане */
  background-color:  #f2f2f2;
  z-index: -99;
}

/* Нужно ли позиционировать, растягивать и так далее? */
/* Блок логотипа */
.logo {
  width: 183px;
  height: 32px;
  /* Логотип должен быть на переднем плане */
  background-image: url(../images/logo_place_header.svg);
  z-index: 99;
}

/* Модификатор позиционирования логотипа в шапке */
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

/* Заголовок шапки */
.header__title {
  width: 730px;
  height: fit-content;
  /* Позиционирование */
  display: flex;
  align-items: flex-start;
  margin-left: 64px;
  /* Параметры текста */
  line-height: 94px;
  font-size: 102px;
  font-weight: 600;
  /* Текст должен заслонять изображения */
  z-index: 1;
  /* border: 1px solid red; */
}

/* Подзаголовок запки */
.header__subtitle {
  width: 388px;
  /* Позиционирование */
  position: absolute;
  bottom: 30px;
  left: 64px;
  /* Параметры текста */
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  /* Текст должен заслонять изображения */
  z-index: 1;
  /* border: 1px solid red; */
}

/* Ссылка в подзаголовке шапки */
.header__link {
  text-decoration: none;
  color: #2f80ed;
}

/* Главная иллюстрация шапки */
.header__main-illustration {
  width: 765px;

  /* Зачем просят ужать изображение? */
  /* height: 608px; */

  /* Позиционирования */
  position: absolute;
  bottom: 0;
  right: 0;
  /* border: 1px solid red; */
}

/* Фоновый элемент - синий квадрат */
.header__square-pic {
  width: 568px;
  height: 568px;
  /* Позиционирования */
  position: absolute;
  top: 64px;
  right: 0;
  /* Фоновый элемент должен быть за основным изображением */
  background-color: #2f80ed;
  z-index: -1;
}

/* Секция описания */
.description {
  /* Позиционирование */
  margin-top: 100px;
  display: flex;
  /* border: 1px solid red; */
}

/* Блок текста в две колонки */
.two-columns {
  width: 80%;
  /* Позиционирование */
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

/* Заголовок */
.two-columns__brief {
  width: 175px;
  /* Позиционирование */
  margin: 0 auto;
  /* Параметры текста */
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  /* border: 1px solid red; */
}

/* Основной текст блока */
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  /* Внешняя граница между первой и второй колонкой */
  /* для читабельности при уменьшении ширины экрана */
  margin-left: 10px;
  /* border: 1px solid red; */
}

.two-columns__paragraph {
  /* Позиционирование */
  margin: 0 auto 30px;
  /* Параметры текста */
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  /* border: 1px solid red; */
}

/* Псевдоатрибут для последнего параграфа */
.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

/* Выделение части текста */
.two-columns__span-accent {
  /* Параметры текста */
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
