/* Стили для всей страницы */
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Блок шапки */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  /* Позиционирование флекс-элементов */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  /* Фон на заднем плане */
  background-color: #f2f2f2;
  z-index: -99;
}

/* Нужно ли позиционировать, растягивать и так далее? */
/* Блок логотипа */
.logo {
  width: 183px;
  height: 32px;
  /* Логотип должен быть на переднем плане */
  background-image: url(../images/logo_place_header.svg);
  z-index: 99;
}

/* Модификатор позиционирования логотипа в шапке */
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

/* Заголовок шапки */
.header__title {
  width: 730px;
  height: fit-content;
  /* Позиционирование */
  display: flex;
  align-items: flex-start;
  margin-left: 64px;
  /* Параметры текста */
  line-height: 94px;
  font-size: 102px;
  font-weight: 600;
  /* Текст должен заслонять изображения */
  z-index: 1;
  /* border: 1px solid red; */
}

/* Подзаголовок запки */
.header__subtitle {
  width: 388px;
  /* Позиционирование */
  position: absolute;
  bottom: 30px;
  left: 64px;
  /* Параметры текста */
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  /* Текст должен заслонять изображения */
  z-index: 1;
  /* border: 1px solid red; */
}

/* Ссылка в подзаголовке шапки */
.header__link {
  text-decoration: none;
  color: #2f80ed;
}

/* Главная иллюстрация шапки */
.header__main-illustration {
  width: 765px;

  /* Зачем просят ужать изображение? */
  /* height: 608px; */

  /* Позиционирования */
  position: absolute;
  bottom: 0;
  right: 0;
  /* border: 1px solid red; */
}

/* Фоновый элемент - синий квадрат */
.header__square-pic {
  width: 568px;
  height: 568px;
  /* Позиционирования */
  position: absolute;
  top: 64px;
  right: 0;
  /* Фоновый элемент должен быть за основным изображением */
  background-color: #2f80ed;
  z-index: -1;
}

/* Секция Описание */
.description {
  /* Позиционирование */
  display: flex;
  /* border: 1px solid red; */
}

/* Блок текста в две колонки */
.two-columns {
  width: 80%;
  margin: 0 auto;
}

.two-columns_place_description {
  /* Позиционирование */
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

/* Заголовок */
.two-columns__brief {
  width: 175px;
  /* Позиционирование */
  margin: 0 auto;
  /* Параметры текста */
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  /* border: 1px solid red; */
}

/* Блок основного текста */
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  /* Внешняя граница между первой и второй колонкой */
  /* для читабельности при уменьшении ширины экрана */
  margin-left: 10px;
  /* border: 1px solid red; */
}

/* Параграфы основного текста */
.two-columns__paragraph {
  /* Позиционирование */
  margin: 0 auto 30px;
  /* Параметры текста */
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  /* border: 1px solid red; */
}

/* Псевдоатрибут для последнего параграфа */
.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

/* Выделение части текста */
.two-columns__span-accent {
  /* Параметры текста */
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* Секция Цифры */
.digits {
  /* Позиционирование */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}

/* Блок пзаголовка секции */
.section-title {
  width: 60%;
  /* Параметры текста */
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  /* border: 1px solid red; */
}

/* Модификатор позиционирования заголовка в секции Цифры */
.section-title_place_digits {
  /* Позиционирование */
  margin: 100px auto 0;
}

/* Блок подзаголовка секции */
.section-subtitle {
  width: 60%;
  /* Параметры текста */
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  /* border: 1px solid red; */
}

/* Модификатор позиционирования подзаголовка в секции Цифры */
.section-subtitle_place_digits {
  margin: 20px auto 0;
}

/* Блок таблицы */
.table {
  width: 1100px;
  /* Позиционирование */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 1px solid red; */
}

/* Модификатор позиционирования таблицы в секторе Цифры */
.table_place_digits {
  margin: 0 auto 100px;
}

/* Ячейка таблицы */
.table__cell {
  width: 250px;
  /* Позиционирование */
  margin: 60px 0 0;
  /* border: 1px solid red; */
}

/* Заголовок ячейки */
.table__heading {
  width: 250px;
  /* Позиционирование */
  margin: 0 auto;
  /* Параметры текста */
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  /* border: 1px solid red; */
}

/* Параграфы текста */
.table__text {
  width: 250px;
  /* Позиционирование */
  margin: 20px 0 0;
  /* Параметры текста */
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  /* border: 1px solid red; */
}

/* Секция Фейнман */
.feynman {
  height: 890px;
  /* Позиционирование */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* Фон на заднем плане */
  background-color: #f2f2f2;
  z-index: -99;
}

/* Заголовок секции Фейнман */
.feynman__title {
  width: 648px;
  /* Позиционирование */
  margin: 100px auto 0;
  /* Параметры текста */
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

/* Подзаголовок секции Фейнман */
.feynman__subtitle {
  width: fit-content;
  /* Позиционирование */
  margin: 70px auto 0;
  /* Параметры текста */
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

/* Элемент ссылки секции Фейнмана */
.feynman__link {
  /* Позиционирование */
  position: absolute;
  top: 50%;
  right: 48px;
  /* Параметры текста */
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

/* Основная иллюстрация секции Фейнмана */
.feynman__image {
  width: 867px;
  height: 637px;
  /* Позиционирование */
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
