/* Стили для всей страницы */
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Блок шапки */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* Позиционирование */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  /* Фон */
  background-color: #f2f2f2;
}

/* Блок логотипа */
.logo {
  width: 183px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  z-index: 3;
}

/* Модификатор логотипа в шапке */
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo_place_footer {
  position: absolute;
  top: 0;
  left: 0;
}

/* Заголовок шапки */
.header__title {
  width: 730px;
  height: fit-content;
  /* Позиционирование */
  display: flex;
  margin: 0 0 0 64px;
  /* Параметры текста */
  line-height: 94px;
  font-size: 102px;
  font-weight: 600;
  z-index: 3;
}

/* Подзаголовок шапки */
.header__subtitle {
  width: 388px;
  /* Позиционирование */
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  /* Параметры текста */
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
}

/* Ссылка в подзаголовке шапки */
.header__link {
  text-decoration: none;
  color: #2f80ed;
}

/* Основная иллюстрация шапки */
.header__main-illustration {
  width: 765px;
  height: 608px;
  /* Позиционирование */
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

/* Фоновый элемент - синий квадрат */
.header__square-pic {
  /* Уменьшил размеры квадрата из-за ошибки в брифе. */
  /* А именно, сумма стороны квадрата и отступа от верхнего края больше минимальной высоты шапки: */
  /* 568px + 64px = 632px против 600px min-hight. */
  /* Из-за этого, например, на мобильных устройствах (iPhone X) при альбомной ориаентации */
  /* квадрат выходит за пределы шапки. */
  width: 536px;
  height: 536px;
  /* Позиционирование */
  position: absolute;
  top: 64px;
  right: 0;
  /* Фон */
  background-color: #2f80ed;
  z-index: 1;
}

/* Секция Описание */
.description {
  /* Позиционирование */
  display: flex;
}

/* Блок текста в две колонки */
.two-columns {
  width: 80%;
  /* Минимальная ширина складывается из ширины первого и минимальной ширины второго стобцов */
  min-width: 959px;
  /* Позиционирование */
  margin: 100px auto 0;
  display: flex;
  justify-content: space-between;
}

/* Заголовок */
.two-columns__brief {
  width: 175px;
  /* Позиционирование */
  margin: 0;
  /* Параметры текста */
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

/* Блок основного текста */
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

/* Параграфы основного текста */
.two-columns__paragraph {
  /* Позиционирование */
  margin: 0 auto 30px;
  /* Параметры текста */
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/* Псевдоатрибут для последнего параграфа блока*/
.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

/* Выделенный текст */
.two-columns__span-accent {
  /* Параметры текста */
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* Секция Цифры */
.digits {
  /* Позиционирование */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Блок заголовка секции */
.section-title {
  width: 60%;
  /* Параметры текста */
  margin: 100px auto 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

/* Модификатор заголовка в секции Кауфман */
.section-title_theme_dark {
  margin: 90px auto 0;
  color: white;
  z-index: 2;
}

/* Блок подзаголовка секции */
.section-subtitle {
  width: 60%;
  /* Параметры текста */
  margin: 20px auto 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

/* Модификатор подзаголовка в секции Кауфман */
.section-subtitle_theme_dark {
  margin: 20px auto 0;
  color: white;
  z-index: 2;
}

/* Блок таблицы */
.table {
  width: 1100px;
  /* Позиционирование */
  margin: 0 auto 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Модификатор таблицы в секторе Кауфман */
.table_theme_dark {
  margin: 0 auto 90px;
  color: white;
  z-index: 2;
}

/* Ячейка таблицы */
.table__cell {
  width: 250px;
  margin: 60px 0 0;
}

/* Модификатор ячейки таблицы для темной темы */
.table__cell_theme_dark {
  width: 200px;
  margin: 80px 0 0;
}

/* Заголовок ячейки */
.table__heading {
  /* Позиционирование */
  margin: 0 auto;
  /* Параметры текста */
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

/* Параграфы текста */
.table__text {
  /* Позиционирование */
  margin: 20px 0 0;
  /* Параметры текста */
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* Секция Фейнман */
.feynman {
  height: 890px;
  /* Позиционирование */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* Фон */
  background-color: #f2f2f2;
}

/* Заголовок секции Фейнман */
.feynman__title {
  width: 648px;
  /* Позиционирование */
  margin: 100px auto 0;
  /* Параметры текста */
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
}

/* Подзаголовок секции Фейнман */
.feynman__subtitle {
  width: fit-content;
  /* Позиционирование */
  margin: 70px auto 0;
  /* Параметры текста */
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

/* Элемент ссылки секции Фейнмана */
.feynman__link {
  /* Позиционирование */
  position: absolute;
  top: 50%;
  right: 48px;
  /* Параметры текста */
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

/* Основная иллюстрация секции Фейнмана */
.feynman__image {
  width: 867px;
  height: 637px;
  /* Позиционирование */
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Секция Кауфман */
.kaufman {
  /* Позиционирование */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Фон */
  background-color: #1f1f1f;
  overflow: hidden;
}

/* Фоновый элемент - синий треугольник */
.kaufman__triangle {
  width: 877px;
  height: 877px;
  /* Позиционирование */
  position: absolute;
  right: -210px;
  z-index: 1;
}

.footer {
  min-height: 350px;
  /* Позиционирование */
  display: flex;
  /* Фон */
  background-color: #1f1f1f;
/* Параметры текста */
  color: white;
}

/* Основной элемент подвала */
.footer__columns {
  width: 90%;
  /* Позиционирование */
  position: relative;
  margin: 60px auto 40px;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  /* Позиционирование */
  display: flex;
  flex-direction: column;
}

/* Модификаторы стобцов */
.footer__column_content_copyright {
  position: relative;
  flex-basis: 711px;
}

.footer__column-heading {
  /* Позиционирование */
  display: flex;
  margin: 0 0 20px;
  /* Параметры текста */
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  /* Позиционирование */
  margin: 0 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Ликвидация внутреннего отступа дочернего тега <ul> */
  padding: 0;
  /* Ликвидация маркера дочернего тега <li> */
  list-style: none;
}

.footer__column-link {
  /* Позиционирование логотипа социальных сетей*/
  display: flex;
  align-items: center;
  /* Параметры текста */
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.footer__author {
  /* Позиционирование */
  margin: 18px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  /* Параметры текста */
  text-decoration: none;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  /* Позиционирование */
  margin-right: 10px;
}

